@page
@model PrivacyModel
@{
    ViewData["Titulo"] = "Política de privacidade";
}

<main class="container mt-3">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center mt-3">
            <h1>@ViewData["Titulo"]</h1>
            <p>Use esta página para detalhar a política de privacidade do seu site.</p>
        </div>
    </div>
</main>
